<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!--
  #############################################################################
  # WARNING: This file is controlled via RepoSync, any changes made in the
  # command adaptor repository will be overwritten by the RepoSync process.
  # See https://gitlab.digital.homeoffice.gov.uk/dacc-de/dde-adaptor-reposync
  #############################################################################
  -->

  <!-- localRepository
   | The path to the local repository maven will use to store artifacts.
   | This works round a problem with the ACP Maven plugin changing the
   | repository locations.  This config is only used by integration tests
   | (smoketest) when running in Kubernetes.
   |
   | Default: ${user.home}/.m2/repository -->

  <localRepository>/home/ileap/.m2</localRepository>
</settings>
