<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="SNS_KAFKA_CONFIG_LOG_LEVEL" value="${SNS_KAFKA_CONFIG_LOG_LEVEL:-INFO}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="io.confluent.kafka.serializers.KafkaAvroSerializerConfig" level="${SNS_KAFKA_CONFIG_LOG_LEVEL}"/>
    <logger name="io.confluent.kafka.serializers.KafkaAvroDeserializerConfig" level="${SNS_KAFKA_CONFIG_LOG_LEVEL}"/>
    <logger name="org.apache.kafka.streams.StreamsConfig" level="${SNS_KAFKA_CONFIG_LOG_LEVEL}"/>
    <logger name="org.apache.kafka.clients.admin.AdminClientConfig" level="${SNS_KAFKA_CONFIG_LOG_LEVEL}"/>
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="${SNS_KAFKA_CONFIG_LOG_LEVEL}"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="${SNS_KAFKA_CONFIG_LOG_LEVEL}"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
